body {  
    margin-left: auto;
    margin-right: auto;
    background-image: url("pink.jpeg");
    background-size: cover;
}

#Header{
    text-align: center;
    color: palevioletred;
    margin-bottom: 0px;
    
}

#Subheader{
    text-align: center;
    color:rebeccapurple;
    margin-top: 0px;
    font-weight:bolder;
    font-style: italic;
}

#searchform{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; 
}

#search{
    display: flex;
    width: 550px;
    padding: 5px;
}

#colors{
    padding: 5px;
    min-width: 150px;
}

#submit{
    width: 100px;
    padding: 5px;
    color: rebeccapurple;
    background-color: palevioletred;
    font-weight: bold;
}

#buttons{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#backwards{
    min-height: 15px;
    width: 400px;
    padding: 5px;
    color: palevioletred;
    background-color: rebeccapurple;
    font-weight: bold;
}

#forwards{
    min-height: 15px;
    width: 400px;
    padding: 5px;
    color: palevioletred;
    background-color: rebeccapurple;
    font-weight: bold;
}

#bilder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

figure {
    flex-direction: column;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    flex-direction: column;
}

img {
    flex-direction: column;
    max-height: 180px;
    max-width: 270px;
}

H3 {
    color: rebeccapurple;
    text-align: center;
}
